doctype html
html
  body(bgcolor="#E1E1E1")
    div(align="center")
      table.MsoNormalTable(border='0' cellspacing='0' cellpadding='0' width='525.0pt' style='width:525.0pt;background:white;border-collapse:collapse;mso-yfti-tbllook:1184;mso-padding-alt:0in 0in 0in 0in')
        tbody
          tr(style='mso-yfti-irow:0;mso-yfti-firstrow:yes;height:56.65pt')
            td(width='700' colspan='3' style='width:525.0pt;padding:0in 0in 0in 0in; height:56.65pt')
              p.MsoNormal(align='center' style='text-align:center')
                img(src="cid:image" alt="First Image" width="700")

          tr(style='mso-yfti-irow:1')
            td(width='612' valign='top' style='width:459.0pt;padding:15px;')
              p.MsoNormal(style='margin-bottom:4.0pt')
                b
                  span(lang='EN-CA' style='font-size:20.0pt;font-family:"Arial",sans-serif;mso-ansi-language:EN-CA') #{subject}
              p.MsoNormal Dear #{role},
              p.MsoNormal #{message}
              p.MsoNormal &nbsp;

              // --- BUTTON ---
              table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:separate;line-height:100%;')
                tr
                  td(align='center' bgcolor='#007bff' role='presentation' style='border:none;border-radius:5px;cursor:auto;mso-padding-alt:10px 25px;background:#007bff;' valign='middle')
                    a(href=link style='display:inline-block;background:#007bff;color:#ffffff;font-family:Arial, sans-serif;font-size:14px;font-weight:bold;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;mso-padding-alt:0px;border-radius:5px;' target='_blank')
                      | View Details

          tr(style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;height:.5in')
            td(width='559' style='width:436.1pt;border:dotted #7B8389 1.0pt;padding:15px;height:.5in')
              p.MsoNormal
                b(style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black') For questions and/or information
              p.MsoNormal(style='font-size:10.0pt;font-family:"Arial",sans-serif;color:black')
                | You can email das.application.maintenance.support.ph@cgi.com or visit&nbsp;
                a(href='https://proactionca.ent.cgi.com/jira/servicedesk/customer/portal/288') AM Customer Portal
          tr
            td
              p.MsoNormal &nbsp;